@model MainPageModel

@section Script {
    <script src="~/js/MainPage.js"></script>
}

<header>
    <div>
        <h1>Окно с товарами</h1>
        @if (User.IsInRole("admin"))
        {
            <a asp-action="EditProductPage" asp-controller="Shop" class="btn btn-primary">Добавить товар +</a>
        }
    </div>
</header>
    <div class="main-container" data-role="@(@User.IsInRole("admin") ? "admin" : "user")">
        <div class="product-list-container"
              data-product-list="@JsonSerializer.Serialize(Model.Products)">
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                @foreach (var product in Model.Products)
                {
                    <div class="product-card" data-product-id="@product.Id" data-name="@product.Name">
                        <label class="product-info product-title">@product.Name</label>
                        <label class="product-info product-price">@Math.Round(product.Price, 2) ₽</label>
                        <label class="product-info product-count">Доступно: @product.Count</label>
                        <button class="btn btn-add-to-cart">Добавить в корзину 🧺</button>
                        @if (User.IsInRole("admin"))
                        {
                            <a class="btn product-delete-btn" asp-action="DeleteProduct" asp-controller="Shop"></a>
                            <a class="btn product-update-btn" data-count="@product.Count"></a>
                        }
                    </div>
            }
        }
        else
        {
            <p>Товаров пока нет!</p>
        }
        </div>

        <div class="cart-container">
            <label class="header">Корзина с товарами 🧺</label>
            <div class="cart-list"
                data-cart-items="@JsonSerializer.Serialize(Model.Cart.CartItems)">
                @if (Model.Cart.ProductCount > 0)
                {
                    @foreach (var productInCart in Model.Cart.CartItems)
                    {
                        <div class="cart-item-card" data-cart-product-id="@productInCart.ProductId">
                            <label class="cart-item-info cart-item-title">@productInCart.Product.Name</label>
                            <div class="cart-item-quantity">
                                <label>Количество: </label>
                                <input class="quantity-changer" type="number" value="@productInCart.Quantity" />
                            </div>
                            <button class="cart-remove-product-btn">Убрать из корзины ❌</button>                        </div>
                    }
                }
                else
                {
                    <p>Корзина пуста</p>
                }
        </div>
            
            <span class="cart-total-price">Итоговая цена: @Math.Round(Model.Cart.TotalPrice, 2) ₽</span>
            <span class="cart-product-count">Количество товаров: @Model.Cart.ProductCount</span>
            <button class="cart-confirm-changes-btn">Сохранить корзину</button>
            <button class="cart-clear-btn">Очистить корзину</button>
        </div>
    </div>

